{% extends "layout.html" %}

{% block content %}

<h3>⚙️ System Settings</h3>

<form method="post" enctype="multipart/form-data">

    <!-- SCHOOL NAME -->
    <label>School Name</label>
    <input class="form-control mb-3"
           name="school"
           value="{{ data[1] if data else '' }}"
           placeholder="Enter school name"
           required>

    <!-- ELECTION YEAR -->
    <label>Election Year</label>
    <input class="form-control mb-3"
           name="year"
           value="{{ data[2] if data else '' }}"
           placeholder="Enter election year"
           required>
<label>Voting Start Time</label>
<input type="datetime-local"
       name="start_time"
       class="form-control mb-3"
       value="{{ data[4] if data else '' }}">

<label>Voting End Time</label>
<input type="datetime-local"
       name="end_time"
       class="form-control mb-3"
       value="{{ data[5] if data else '' }}">


    <!-- LOGO -->
    <label>School Logo</label>
    <input type="file" class="form-control mb-3" name="logo">

    <!-- SHOW CURRENT LOGO -->
    {% if data and data[3] %}
        <p>Current Logo:</p>
        <img src="{{ url_for('static', filename='uploads/' + data[3]) }}" width="120" class="mb-3">
    {% endif %}

    <button class="btn btn-primary">Save Settings</button>

</form>

<br>

<a href="/dashboard" class="btn btn-secondary">⬅ Back to Dashboard</a>

{% endblock %}